*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
}
.main{
    display: flex;
}
.sub1{
    width:50%;
    height:100vh;
    padding-left: 130px;
    padding-top: 25px;
}
.sub2{
    width: 50%;
    height: 100vh;  
    background-color:black;
}
.Happening{
    color: #e7e9ea;
    font-family: "Open Sans", sans-serif;
    font-weight:100px;
    font-size: 75px;
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
}
.join{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight:bold;
    font-size:35px;
    margin-left: 100px;
    margin-top: 35px;
    margin-bottom: 30px;
}
.form-div{
    width:400px;
    margin-left: 100px;
    align-items: center;
    display: block;
}
button{
    margin-top: 5px;
    border-radius: 25px;
    width:80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    font-size: 14px;
}
button:hover{
    background-color: rgb(232, 223, 223);
}
.google{
    width:25px;
}
.apple{
    width:17px;
    margin-bottom:5px;
    margin-right: 5px;
}
.hr{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-right: 85px;;
}
hr{
    
    border:0;
    background-color: rgb(69, 66, 66);
    width:40%;
    height:1px;
    display:flex;
    justify-content: center;
    align-content: center;
}
span{
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
}
.createacc{
    margin-top: 5px;
    border-radius: 25px;
    width:80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    color: white;
    background-color: #1d9bf0;
    font-size: 15px;
}
.createacc:hover{
    background-color:#188dda ;
}
p{
    color: white;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 70px;
    margin-top: 5px;
    color: grey;
    margin-left: 10px;
}
a{
    color: #1d9bf0;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h3{
    margin-top: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 110px;
    font-size: 17px;
    
}
.signup{
    border-radius: 25px;
    border:1px solid grey;
    width:47%;
    height: 40px;
    font-weight:bold;
    font-size: 14px;
    background-color: black;
    color:  #1d9bf0;
    margin-top: -40px;
    margin-left: -5px;
}
.signup:hover{
    background-color: #0f212e;
}
@media only screen and (max-width: 600px) {
    .main{
        display:block;
        flex-direction: column;
    }
    .sub1{
        width:50%;
        height: auto;  
         
    }
    .sub2{
          width:100%;
          height:auto;
    }

    .ximg{
        width:80px;
        margin-top: 0px;
        margin-left: -110px; 
    }
    .Happening{
        font-size: 40px;
    }
    .form-div{
        width:400px;
        text-align: left;
    }
}
